@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    /* TODO: change light*/
    --primary-500: 135, 126, 255, 1;
    --secondary-500: 255, 182, 32, 1;
    --blue: 0, 149, 246, 1;
    --logout-btn: 255, 90, 90, 1;
    --navbar-menu: 16, 16, 18, 0.6;
    --bg-1: 0, 0, 0, 1;
    --bg-2: 18, 20, 23, 1;
    --bg-3: 16, 16, 18, 1;
    --bg-4: 31, 31, 34, 1;
    --bg-reverse-1: 255, 255, 255, 1;
    --bg-reverse-2: 239, 239, 239, 1;
    --bg-reverse-3: 120, 120, 163, 1;
    --bg-reverse-4: 92, 92, 123, 1;
    --bg-secondary-1: 105, 124, 137, 1;

    /* shadcn vars */
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --primary-500: 135, 126, 255, 1;
    --secondary-500: 255, 182, 32, 1;
    --blue: 0, 149, 246, 1;
    --logout-btn: 255, 90, 90, 1;
    --navbar-menu: 16, 16, 18, 0.6;
    --bg-1: 0, 0, 0, 1;
    --bg-2: 18, 20, 23, 1;
    --bg-3: 16, 16, 18, 1;
    --bg-4: 31, 31, 34, 1;
    --bg-reverse-1: 255, 255, 255, 1;
    --bg-reverse-2: 239, 239, 239, 1;
    --bg-reverse-3: 120, 120, 163, 1;
    --bg-reverse-4: 92, 92, 123, 1;
    --bg-secondary-1: 105, 124, 137, 1;

    /* shadcn vars */
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  /* main */
  .main-container {
    @apply custom-scrollbar flex h-screen flex-1 flex-col items-center overflow-y-auto bg-bg-1 px-6 pt-28 pb-32 sm:px-10 lg:pb-10;
    scrollbar-gutter: stable;
  }

  /* Head Text */
  .head-text {
    @apply text-heading2-bold text-bg-reverse-1;
  }

  /* Activity */
  .activity-card {
    @apply flex items-center gap-2 rounded-md bg-bg-2 px-7 py-4;
  }

  /* No Result */
  .no-result {
    @apply text-center !text-base-regular text-bg-reverse-3;
  }

  /* Community Card */
  .community-card {
    @apply w-full rounded-lg bg-bg-3 px-4 py-5 sm:w-96;
  }

  .community-card_btn {
    @apply rounded-lg bg-primary-500 px-5 py-1.5 text-small-regular !text-bg-reverse-1 !important;
  }

  /* thread card  */
  .thread-card_bar {
    @apply relative mt-2 w-0.5 grow rounded-full bg-neutral-800;
  }

  /* User card */
  .user-card {
    @apply flex flex-col justify-between gap-4 rounded-xl bg-bg-3 p-4 xs:flex-row xs:items-center;
  }

  .user-card_avatar {
    @apply flex flex-1 items-start justify-start gap-3 xs:items-center;
  }

  .user-card_btn {
    @apply h-auto min-w-[74px] rounded-lg bg-primary-500 text-[12px] text-bg-reverse-1 !important;
  }

  .searchbar {
    @apply flex gap-1 rounded-lg bg-bg-3 px-4 py-2;
  }

  .searchbar_input {
    @apply border-none bg-bg-3 text-base-regular text-bg-reverse-4 outline-none !important;
  }

  .topbar {
    @apply fixed top-0 z-30 flex w-full items-center justify-between bg-bg-2 px-6 py-3;
  }

  .bottombar {
    @apply fixed bottom-0 z-10 w-full rounded-t-3xl bg-glassmorphism p-4 backdrop-blur-lg xs:px-7 lg:hidden;
  }

  .bottombar_container {
    @apply flex items-center justify-between gap-3 xs:gap-5;
  }

  .bottombar_link {
    @apply relative flex flex-col items-center gap-2 rounded-lg p-2 sm:flex-1 sm:px-2 sm:py-2.5;
  }

  .leftsidebar {
    @apply sticky left-0 top-0 z-20 lg:flex h-screen w-fit flex-col justify-between overflow-auto border-r border-r-bg-4 bg-bg-2 pb-5 pt-28 hidden;
  }

  .leftsidebar_link {
    @apply relative flex justify-start gap-4 rounded-lg p-4;
  }

  .pagination {
    @apply mt-10 flex w-full items-center justify-center gap-5;
  }

  .rightsidebar {
    @apply sticky right-0 top-0 z-20 xl:flex h-screen w-fit flex-col justify-between gap-12 overflow-auto border-l border-l-bg-4 bg-bg-2 px-10 pb-6 pt-28 hidden;
  }
}

@layer utilities {
  .css-invert {
    @apply invert-[50%] brightness-200;
  }

  .scroll-area-content {
    @apply pb-16;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #09090a;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #5c5c7b;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7878a3;
  }
}

/* Clerk Responsive fix */
.cl-organizationSwitcherTrigger .cl-userPreview .cl-userPreviewTextContainer {
  @apply hidden md:inline-block;
}

.cl-organizationSwitcherTrigger .cl-organizationPreview .cl-organizationPreviewTextContainer {
  @apply hidden md:inline-block;
}

/* Shadcn Component Styles */

/* Tab */
.tab {
  @apply flex min-h-[50px] flex-1 items-center gap-3 bg-bg-2 text-bg-reverse-2 data-[state=active]:bg-[#0e0e12] data-[state=active]:text-bg-reverse-2 !important;
}

.no-focus {
  @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
}

/* Account Profile  */
.account-form_image-label {
  @apply flex h-24 w-24 items-center justify-center rounded-full bg-bg-4 !important;
}

.account-form_image-input {
  @apply cursor-pointer border-none bg-transparent outline-none file:text-blue !important;
}

.account-form_input {
  @apply border border-bg-4 bg-bg-3 text-bg-reverse-1 !important;
}

/* Comment Form */
.comment-form {
  @apply mt-10 flex items-center gap-4 border-y border-y-bg-4 py-5 flex-col sm:flex-row !important;
}

.comment-form_btn {
  @apply rounded-3xl bg-primary-500 px-8 py-2 text-small-regular text-bg-reverse-1 max-w-fit !important;
}

.flex-center {
  @apply flex justify-center items-center
}